<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Person infomation.</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="static/css/questionanswer.css" />
	<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.2.0/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="static/css/menu_sideslide.css" />
	<link rel="stylesheet" type="text/css" href="static/css/general.css" />
	<link rel="stylesheet" type="text/css" href="static/css/table.css" />
	<script src="js/questionanswer_classie.js"></script>
</head>

<body>
	<div class="container" style="display: block">
		<div class="menu-wrap">
			<nav class="menu">
				<div class="icon-list">
					<a href="#"><i class="fa fa-fw fa-star-o"></i><span>个人信息</span></a>
					<a href="#"><i class="fa fa-fw fa-star-o"></i><span>开始测验</span></a>
					<a href="#"><i class="fa fa-fw fa-star-o"></i><span>课后休闲</span></a>
					<a href="#"><i class="fa fa-fw fa-star-o"></i><span>错题集</span></a>
				</div>
			</nav>
			<button class="close-button" id="close-button">Close Menu</button>
		</div>
		<button class="menu-button" id="open-button">Open Menu</button>
		<div class="content-wrap">
			<div class="content">
				<header class="questionanswer-header">
					<h1>Children Learning <span>Have fun and study harder!</span></h1>			
                </header>
                
			</div>
			<div class="personcontainer" style="font-family: STXihei, '华文细黑', 'Microsoft YaHei', '微软雅黑';">
				<p style="width:100%; text-align: center; font-family: STXihei, '华文细黑', 'Microsoft YaHei', '微软雅黑'; font-size: 20px">个人信息</p>
				<table class="table">
					<tr>
						<th>ID</th>
						<td>1</td>
					</tr>
					<tr>
						<th>昵称</th>
						<td>熊猫王</td>
					</tr>
					<tr>
						<th>电话号码</th>
						<td>1234567890</td>
					</tr>

				</table>
				<p style="width:100%; text-align: center; font-family: STXihei, '华文细黑', 'Microsoft YaHei', '微软雅黑'; font-size: 20px">做题记录</p>

				<table>
					<thead>
						<tr>
							<th>测试ID</th>
							<th>做题时间</th>
							<th>做题难度</th>
							<th>做题用时</th>
							<th>题数</th>
							<th>错题数</th>
							<th>正确率</th>
							<th>评级</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>#1</th>
							<td>2019.10.12 10:32:16</td>
							<td>3</td>
							<td>40min</td>
							<td>100</td>
							<td>10</td>
							<td>90%</td>
							<td>A</td>
						</tr>
					</tbody>
				<!-- <table class="table">
					<tr>
						<th>做<br>题<br>时<br>间</th>
						<th>做<br>题<br>用<br>时</th>
						<th>题<br>数</th>
						<th>错<br>题<br>数</th>
						<th>正<br>确<br>率</th>
						<th>评<br>级</th>
					</tr>
					<tr>
						<td>2019.10.19 10:32:46</td>
						<td>32min6s</td>
						<td>100</td>
						<td>10</td>
						<td>90%</td>
						<td>A</td>
					</tr>

				</table> -->
			</div>
		</div>
		<!-- /content-wrap -->
	</div>
	<script src="static/js/menuslide.js"></script>
</body>

</html>